<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <% if @blog.errors.any? %>
      <%= @blog.errors.count %>件のエラーが発生しました
      <% @blog.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
    <% end %>
    <%= form_with(model: @blog, local: true) do |form| %>
      <p>
        <strong>タイトル</strong><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <strong>内容</strong><br>
        <%= form.text_field :content %>
      </p>
      <p>
        <strong>時間</strong><br>
        <%= form.datetime_select :start_time %>
      <p>
      <div class="submit">
        <%= form.submit 'Update', class:"btn btn-primary btn-sm" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
