<%= render "devise/shared/error_messages", resource: resource %>
<div class="container" style="width: 500px; height: 800px; background-color: rgba(210,180,140,0.5);">
  <div style="padding-top: 20px;">
    <h3 class='mt-5 mx-auto d-table'>会員新規登録</h3>
    <div class='text-center'>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <form class="form-horizontal">
          <div class="form-group mt-5">
            <label class="col-md-3 control-label"><%= f.label :名前 %></label>
            <div class="col-md-6 mx-auto"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
          </div>
          <div class="form-group mt-5">
            <label class="col-md-4 control-label"><%= f.label :メールアドレス %></label>
            <div class="col-md-6 mx-auto"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
          </div>
          <div class="form-group mt-5">
            <label class="col-md-3 control-label"><%= f.label :パスワード %></label>
            <div class="col-md-6 mx-auto">
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="form-group mt-5">
            <div class="col-md-6 mx-auto"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
          </div>
          <div class="actions mt-4">
            <%= f.button :type => "submit", style: 'border-style: none;' do %>
              <i class="fas fa-user-plus fa-2x faa-wrench animated-hover iro"></i>
            <% end %>
          </div>
        </form>
      <% end %>
      <h5 class='mt-5'>会員様↓</h5>
      <p class='mt-4'><%= link_to "こちら", new_user_session_path %>からログインを行って下さい</p>
    </div>
  </div>
</div>
