<div class="container">
  <div class="row mt-3 mb-5">
    <%= render 'posts/form', post_new: @post_new %>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <h3>Liked posts</h3>
      <% @likes.each do |like| %>
        <% post = Post.find_by(id: like.post_id) %>
        <div class="row mb-5 height" style="background-color: #deb887;">
        <%= link_to post_path(post.id) do %>
          <div class="col-md-5 text-center">
            <%= attachment_image_tag post, :image, :fill, 250, 250 %>
          </div>
        <% end %>
          <div class="col-md-5 pt-3">
            <p class="text-white">title: <%= post.title %></p>
            <p class="text-white">shop name: <%= post.shop_name %>
            <p class="text-white"><%= safe_join(post.introduction.split("\n"), tag(:br)) %></p>
          </div>
          <div class="col-md-2 pt-3 text-center text-white">
            <div class="pb-4">
              いいね数<br>
              <%= post.likes.count %>
            </div>
            <div class="pb-4">
              コメント数<br>
              <%= post.post_comments.count %>
            </div>
            <div>
              投稿日時<br>
              <%= post.created_at.strftime('%Y/%m/%d') %><br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <%= paginate @likes %>
    </div>
  </div>
</div>