<div class="container mb-5">
  <div class="row mt-5 mb-5">
    <%= render 'posts/form', post_new: @post_new %>
    <div class="col-md-8">
      <% if @user.id == current_user.id %>
      <h3 class="mb-4 text-center">My Page</h3>
      <% else %>
      <h3 class="mb-4 text-center">User Information</h3>
      <% end %>
      <h5 class="mb-4 text-center"><%= @user.name %></h5>
      <div class="mb-2 text-center"><%= render 'status', user: @user %></div>
      <div class="mb-4 text-center"><%= render 'follow_form', user: @user %></div>
      <div class="mb-4 layout">
        <%= simple_format(h(@user.introduction)) %>
      </div>
      <div class="text-center">
      <% if @user.id == current_user.id %>
        <button type="button" class="btn btn-info">
          <%= link_to "Edit", edit_user_path(@user), class: 'edit' %>
        </button>
        <button type="button" class="btn btn-warning">
          <%= link_to "Liked posts", likes_path(@user), class: 'edit' %>
        </button>
        <button type="button" class="btn btn-light">
          <%= link_to "Calendar", blogs_path, class: 'calendar' %>
        </button>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h3>My Posts</h3>
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <%= paginate @posts %>
    </div>
  </div>
</div>
