<div class="container">
  <div class="row mt-5 mb-5">
    <% if user_signed_in? %>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 class="mb-4 text-center">Post Details</h3>
      <p class="mb-3 text-center"><%= link_to @post.user.name, user_path(@post.user.id), class: "link" %></p>
      <h4 class="mb-3 text-center"><%= @post.title %></h4>
      <p class="mb-3 text-center"><%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <%= render 'likes/favo', post: @post %>
      <div class="mb-3 text-center"><%= attachment_image_tag @post, :image, :fill, 500, 500 %></div>
      <h5 class="mb-3 text-center">ShopName: <%= @post.shop_name %></h5>
      <p class="mb-3 place"><%= safe_join(@post.introduction.split("\n"), tag(:br)) %></p>
      <div class="mb-3 show">
        <div class="text-center show__address">
          <%= @post.spot.address %>
        </div>
        <div id="show_map" style="height: 400px; width: 400px; margin: 0 auto;"></div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-light">
          <%= link_to "Back", :back, class: 'back' %>
        </button>
        <% if @post.user == current_user %>
          <button type="button" class="btn btn-info">
            <%= link_to "Edit", edit_post_path(@post), class: 'edit' %>
          </button>
        <% end %>
        <% if @post.user == current_user %>
        <button type="button" class="btn btn-danger">
          <%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'destroy' %>
        </button>
        <% end %>
      </div>
    </div>
    <%= render 'post_comments/form', post: @post, post_comment: @post_comment %>
    <% else %>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 class="mb-4 text-center">Post Details</h3>
      <h4 class="mb-3 text-center"><%= @post.title %></h4>
      <div class="mb-3 text-center"><%= attachment_image_tag @post, :image, :fill, 500, 500 %></div>
      <h5 class="mb-3 text-center">ShopName: <%= @post.shop_name %></h5>
      <p class="mb-3 place"><%= safe_join(@post.introduction.split("\n"), tag(:br)) %></p>
      <div class="text-center">
        <button type="button" class="btn btn-light">
          <%= link_to "Back", :back, class: 'back' %>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>
